#contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

#contacts {
    display: grid;
    max-width: 50rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
    margin: 1rem;
    margin-bottom: 3rem;
    gap: 1.0rem;
}

.contact {
    display: flex;
    flex-direction: column;
    border: 0.05rem solid var(--green);
    border-radius: 0.25rem;
    max-width: 15rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    transition: background .2s ease-out;
}

.contact:hover {
    background-color: var(--green);
    transition: background .2s ease-out;
    cursor: pointer;
}

.type-contact {
    font-size: 1.1rem;
}

.value {
    font-size: 1.0rem;
}

@media screen and (max-width: 1000px) {
    #contacts {
        max-width: 32.5rem;
    }
}

@media screen and (max-width: 680px) {
    #contacts {
        max-width: 15rem;
    }
}
