#presentation {
    font-size: 3.5rem;
    font-weight: 700;
}

#home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#wrapper-home {
    display: flex;
    max-width: 62rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem;
}

#about_me {
    font-size: 1rem;
}

#about_me pre {
    white-space: pre-wrap;
}

.number {
    color: var(--number-color) !important;
}

.string {
    color: var(--string-color) !important;
}

.curly-bracket {
    color: var(--curly-bracket-color) !important;
}

@media screen and (max-width: 1250px) {
    #home-section {
        height: auto;
    }

    #wrapper-home {
        max-width: 31rem;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 2.5rem;
    }
}