#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

#projects {
    display: grid;
    max-width: 80rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    margin: 1rem;
    gap: 1.5rem;
}

.project-card {
    max-width: 20rem;
    background: var(--project-card-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1.5rem;
    row-gap: 1.2rem;
    transition: transform .2s ease-out;
}

.project-card:hover {
    transition: transform .2s ease-out;
    transform: scale(1.03);
}

.top-project-card {
    display: flex;
    justify-content: space-between;
}

.link-github {
    display: flex;
    column-gap: 1.05rem;
    
}

.project-description {
    font-size: 1.1rem;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.stack {
    font-size: .8rem;
    font-weight: 300;
}

.external-link-icon, .github-icon {
    transition: filter .2s ease-out;
}

.external-link-icon:hover, .github-icon:hover {
    filter: invert(57%) sepia(42%) saturate(5791%) hue-rotate(134deg) brightness(100%) contrast(89%);
    transition: filter .2s ease-out;
    cursor: pointer;
}

@media screen and (max-width: 1290px) {
    #projects {
        max-width: 50rem;
    }
}

@media screen and (max-width: 860px) {
    #projects {
        max-width: 25rem;
        display: flex;
        flex-direction: column;
    }
}